page-perfil {
.photoPerfil{
    img{
    height: 100px;
    width: auto;
    margin: auto;
    display: block;
    border-radius: 50%;
    }
}

.nomeUser{
    p{
    width: auto;    
    text-align: center;
    display: block; 
    margin: auto;    
    font-size: 1.3em;
    }
}

.toolbar-background{
    background-color: #ece41a !important;
}  


 

}
