
<ion-header id="header">
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>addProdutos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
    <form [formGroup]="form">
        <ion-item> 
          <ion-label stacked>Produto</ion-label>
          <ion-input type="text" placeholder="Insira o produto" formControlName="nomeProduto"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Preço (R$)</ion-label>
            <ion-input type="number" formControlName="preco" [(ngModel)]="preco"></ion-input>
        </ion-item>

        <ion-item >
          <ion-label>Desconto</ion-label>
          <ion-select interface="popover" [formControl]="form.controls['porcentagem']" [(ngModel)]="porcentagem" placeholder="Selecione uma opção">
            <ion-option value="5">5%</ion-option>
            <ion-option value="10">10%</ion-option>
            <ion-option value="15">15%</ion-option>
            <ion-option value="20">20%</ion-option>
            </ion-select>
      </ion-item>

        <ion-item >
            <ion-label>Categoria</ion-label>
            <ion-select interface="popover" [formControl]="form.controls['categoria']" [(ngModel)]="categoria" placeholder="Selecione uma opção">
              <ion-option value="Tênis">Tênis</ion-option>
              <ion-option value="Camiseta">Camiseta</ion-option>
              <ion-option value="Regata">Regata</ion-option>
              <ion-option value="Moletom">Moletom</ion-option>
              <ion-option value="Shorts">Shorts</ion-option>
              <ion-option value="Calça">Calça</ion-option>
              <ion-option value="Meia">Meia</ion-option>
            </ion-select>
        </ion-item>

        <ion-list radio-group [formControl]="form.controls['sexo']" [(ngModel)]="sexo">
            <ion-list-header>Sexo</ion-list-header>
            <ion-item>
              <ion-label>Masculino</ion-label>
              <ion-radio color="warning" value="Masculino"></ion-radio>
            </ion-item>
            
            <ion-item>
              <ion-label>Feminino</ion-label>
              <ion-radio color="warning" value="Feminino"></ion-radio>
            </ion-item>
        </ion-list>

      
        <ion-item >
            <ion-label>Marca</ion-label>
            <ion-select interface="popover" [formControl]="form.controls['marca']" [(ngModel)]="marca" placeholder="Selecione uma opção">
              <ion-option value="Adidas">Adidas</ion-option>
              <ion-option value="Nike">Nike</ion-option>
              <ion-option value="Puma">Puma</ion-option>
              <ion-option value="Olympikus">Olympikus</ion-option>
              <ion-option value="Mizuno">Mizuno</ion-option>
              <ion-option value="Asics">Asics</ion-option>
              <ion-option value="Under Armour">Under Armour</ion-option>
              </ion-select>
        </ion-item>

        <ion-item *ngIf = "categoria == 'Tênis'">
          <ion-label stacked>Tamanho</ion-label>
          <ion-select interface="popover" multiple="true" [formControl]="form.controls['tamanho']" placeholder="Selecione uma opção">
              <ion-option value="34">34</ion-option>
              <ion-option value="35">35</ion-option>
              <ion-option value="36">36</ion-option>
              <ion-option value="37">37</ion-option>
              <ion-option value="38">38</ion-option>
              <ion-option value="39">39</ion-option>
              <ion-option value="40">40</ion-option>
              <ion-option value="41">41</ion-option>
              <ion-option value="42">42</ion-option>
              <ion-option value="43">43</ion-option>
              <ion-option value="44">44</ion-option>
              <ion-option value="45">45</ion-option>
            </ion-select>
        </ion-item> 

        <ion-item *ngIf = "categoria == 'Meia'">
          <ion-label stacked>Tamanho</ion-label>
          <ion-select interface="popover" multiple="true" [formControl]="form.controls['tamanho']" placeholder="Selecione uma opção">
              <ion-option value="28/33">28/33</ion-option>
              <ion-option value="30/35">30/35</ion-option>
              <ion-option value="32/35">32/35</ion-option>
              <ion-option value="33/36">33/36</ion-option>
              <ion-option value="34/36">34/36</ion-option>
              <ion-option value="34/37">34/37</ion-option>
              <ion-option value="35">35</ion-option>
              <ion-option value="35/38">35/38</ion-option>
              <ion-option value="35/39">35/39</ion-option>
              <ion-option value="35/42">35/42</ion-option>
              <ion-option value="36/38">36/38</ion-option>
              <ion-option value="36/39">36/39</ion-option>
              <ion-option value="36/40">36/40</ion-option>
              <ion-option value="37/44">37/44</ion-option>
              <ion-option value="40/44">40/44</ion-option>
              <ion-option value="40/43">40/43</ion-option>
              <ion-option value="42/45">42/45</ion-option>
              <ion-option value="44/46">44/46</ion-option>
            </ion-select>
        </ion-item> 
        
        <ion-item *ngIf = "categoria != 'Tênis' && categoria != 'Meia'">
            <ion-label stacked>Tamanho</ion-label>
            <ion-select interface="popover" multiple="true" [formControl]="form.controls['tamanho']" placeholder="Selecione uma opção">
              <ion-option value="EP">EP</ion-option>
                <ion-option value="PP">PP</ion-option>
                <ion-option value="P">P</ion-option>
                <ion-option value="M">M</ion-option>
                <ion-option value="G">G</ion-option>
                <ion-option value="GG">GG</ion-option>
              </ion-select>
          </ion-item>  
        
        <ion-item>
            <ion-label stacked>Loja</ion-label>
             <ion-select interface="popover" [formControl]="form.controls['loja']" placeholder="Selecione uma opção">
                <ion-option value="Netshoes">Netshoes</ion-option>
                <ion-option value="Ducks Sports">Ducks Sports</ion-option>
                <ion-option value="Centauro">Centauro</ion-option>
              </ion-select>
        </ion-item> 
        
        <ion-item>
          <ion-label stacked>KmPoints</ion-label>
          <ion-input type="text" value="{{kmPoints}}"></ion-input>
      </ion-item>  

        <ion-item>
            <ion-label stacked>Preço c/ Desconto</ion-label>
            <ion-input type="text" value="{{precoDescontoReais}}"></ion-input>
        </ion-item>  

    <div class="btnSave" padding> 
        <button ion-button block  color="secondary" (click)="calcDesconto()"><p class="txtBtnSave"><b>Calcular Desconto</b></p></button>
    </div>    
    
    <div class="btnSave" padding> 
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="editarProduto()"><p class="txtBtnSave"><b>Salvar</b></p></button>
    </div>
    
    
       </form> 

</ion-content>
