page-meus-cupons {
.produto{
    color: black;
}

.codigoValido{
    color: green;
}

.codigoInvalido{
    color: red;
}

.logoDucks{
    width: 80%;
    max-width: 130px;
}    

.logoCentauro{
    width: 80%;
    max-width: 130px;
}

.logoNetshoes{
    width: 80%;
    max-width: 130px;
}

.colunaStatus{
    text-align: right;
}

.colunaCodigo{
    text-align: center;
}

.valido{
    font-size: 1em;
    color: black;
}

.invalido{
    font-size: 1em;
    
}


}

