page-edit-perfil {
.toolbar-background{
    background-color: #ece41a !important;
    }
    
.btnSave button{
    background-color: #ece41a !important;
    
}

.btnSave button .txtBtnSave{
    color: black;
     
}





}
